* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app_header {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.app_headerImage {
  height: 50px;
}

.form_logo {
  height: 50px;
}

.app_form {
  display: flex;
  flex-direction: column;
}
