* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app_header {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.app_headerImage {
  height: 50px;
  object-fit: contain;
}

.form_logo {
  height: 50px;
}

.app_form {
  display: flex;
  flex-direction: column;
}

.post_container {
  padding: 20px;
  display: flex;
  justify-content: center;
}
